<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <script type="text/javascript" src="./javascripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap.js"></script>
  </head>
  <body>
    <div class="top"><a class="symbol" href="#"><span class="logo"><img src="./images/caishen.svg"></span></a>
      <div class="searchBox">
        <input class="searchIpt" type="text">
      </div><a class="symbol" href="#"><span class="message"><img src="./images/message.svg"></span></a>
    </div>
    <div class="center">
      <div class="carousel slider" id="car-exam" data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#car-exam" data-slide-to="1"></li>
          <li data-target="#car-exam" data-slide-to="2"></li>
          <li data-target="#car-exam" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active"><img class="sliderImg" src="./images/1.jpg"></div>
          <div class="item"><img class="sliderImg" src="./images/2.jpg"></div>
          <div class="item"><img class="sliderImg" src="./images/3.jpg"></div><a class="carousel-control left" href="#car-exam" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="carousel-control right" href="#car-exam" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="coffeeType">
        <div class="type"><a href="#"><img src="./images/coffee.svg">
            <p>咖啡</p></a></div>
        <div class="type"><a href="#"><img src="./images/coffeeBottle.svg">
            <p>咖啡壶</p></a></div>
        <div class="type"><a href="#"><img src="./images/coffeeBean.svg">
            <p>咖啡豆</p></a></div>
        <div class="type"><a href="#"><img src="./images/cookie.svg">
            <p>曲奇饼</p></a></div>
      </div>
      <div class="productList">
        <div class="proBox">
          <div class="proTitle">
            <h4><span><img src="./images/tip.svg">咖啡<img src="./images/tip.svg"></span></h4>
          </div>
          <div class="product">
            <div class="proRight">
              <div class="prTop">
                <!--a(href="#")-->
                <!--    img(src="./images/coffee2.jpg", class="change")-->
                <!--a(href="#")-->
                <!--    img(src="./images/coffee3.jpg")-->
                <!--a(href="#")-->
                <!--    img(src="./images/coffee4.jpg", class="change")-->
              </div>
            </div>
          </div>
        </div>
        <div class="proBox">
          <div class="proTitle">
            <h4><span><img src="./images/bottle.svg">咖啡壶<img src="./images/bottle.svg"></span></h4>
          </div>
          <div class="product">
            <div class="proRight">
              <div class="prTop"><a href="#"><img src="./images/Bottle1.jpg"></a><a href="#"><img class="change" src="./images/bottle2.jpg"></a></div>
              <div class="pr-bottom"><a href="#"><img src="./images/bottle3.jpg"></a><a href="#"><img class="change" src="./images/bottle4.jpg"></a></div>
            </div>
          </div>
        </div>
        <div class="proBox">
          <div class="proTitle">
            <h4><span><img src="./images/bean.svg">咖啡豆<img src="./images/bean.svg"></span></h4>
          </div>
          <div class="product">
            <div class="proRight">
              <div class="prTop"><a href="#"><img src="./images/bean1.jpg"></a><a href="#"><img class="change" src="./images/bean2.jpg"></a></div>
              <div class="pr-bottom"><a href="#"><img src="./images/bean3.jpg"></a><a href="#"><img class="change" src="./images/bean4.jpg"></a></div>
            </div>
          </div>
        </div>
        <div class="proBox">
          <div class="proTitle">
            <h4><span><img src="./images/cooki.svg">曲奇饼<img src="./images/cooki.svg"></span></h4>
          </div>
          <div class="product">
             <a href="#"><img class="change" src="./images/cookie2.jpg"></a></div>
              <div class="pr-bottom"><a href="#"><img src="./images/cookie3.jpg"></a><a href="#"><img class="change" src="./images/cookie4.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="navDivide"><span><img src="./images/shop.svg"></span>
        <p>店铺</p>
      </div>
      <div class="navDivide"><span><img src="./images/order.svg"></span>
        <p>分类</p>
      </div>
      <div class="navDivide"><span><img src="./images/shopcart.svg"></span>
        <p>购物车</p>
      </div>
      <div class="navDivide"><span><img src="./images/my.svg"></span>
        <p>联系客服</p>
      </div>
    </div>
  </body>
</html>