<!DOCTYPE html>
<head>
  <title>shoppingCart</title>
  <link rel="stylesheet" href="stylesheets/shoppingCart.css">
</head>
<body>
  <div class="top"><a href="page"><</a></div>
  <div class="all"></div>
  <div class="account">
    <input class="check2" type="checkbox" id="allCheck" onclick="selectAll()">
    <div class="sum">
      <p>总计:<span class="token">￥<span id="proTotal"></span></span></p>
    </div>
    <button class="del">结算</button>
    <button class="del">删除</button>
  </div>
  <script src="javascripts/shoppingCart.js"></script>
</body>